main {
    height: 80vh;
}

.edit-post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 50px 20px;
    margin: 30px auto;
}

.edit-post-title,
.edit-post-body,
.edit-post-image,
.edit-post-tags {
    width: 300px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--text-color);
}

.edit-post-body {
    height: 100px;
}

.save-button {
    padding: 5px 10px;
}