.create-post-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.feed-actions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.create-post-button,
.publish-button,
.search-form {
    width: 300px;
}

.search-input {
    width: 70%;
}

.search-button {
    width: 28%;
    padding: 2px 10px;
}

.create-post-input,
.create-post-button,
.publish-button,
.search-input {
    padding: 5px 10px;
    border-radius: 6px;
}

.search-input,
.create-post-input {
    border: 1px solid var(--text-color);
}

.create-post-input-body {
    height: 100px;
}

/* Tablet and Desktop */
@media (min-width: 768px) {
    .feed-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 65px;
    }
}
