:root {

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-label: 16px;
    --font-size-input: 14px;
    --font-size-button: 18px;

    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    

    --primary-color: #2563EB;
    --secondary-color: #e6e9ec;
    --color-white: #ffffff;
    --success-color: #059669;
    --error-color: #DC2626 ;
    --text-color: #111827;

    --hoover-color: #1D4ED8;

}