:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-label: 16px;
    --font-size-input: 14px;
    --font-size-button: 18px;

    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --primary-color: #0B3D91;
    --secondary-color: #e6e9ec;
    --color-white: #ffffff;
    --success-color: #059669;
    --error-color: #DC2626 ;
    --text-color: #111827;

    --hoover-color: #1456C3;
}

body {
    margin: 0;
}

/* Screen reader only */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Fonts */
h1, 
h2,
.navbar-option,
.post-author,
.edit-button,
.delete-button {
    font-family: var(--secondary-font);
}

p,
.auth-form,
.search-input,
.create-post-input {
    font-family: var(--primary-font);
}

p {
    color: var(--text-color);
}

/* Header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    position: relative;
    padding: 0 20px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: var(--font-size-h3);
}

.navbar-option {
    color: var(--text-color);
}

.logo {
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover,
a:focus {
    color: var(--hoover-color);
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .navbar-links {
    display: block;
}

.hamburger-menu {
    cursor: pointer;
    z-index: 20;
    font-size: var(--font-size-h3);
}

.navbar-links li {
    margin: 30px 0px;
}

/*Footer*/
footer {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-footer {
    color: var(--primary-color);
    margin: 20px 0;
}

/*All pages*/
h1 {
    text-align: center;
}

input {
    font-size: var(--font-size-input);
}

/*Feed, post and profile*/
.post-author {
    display: flex;
    align-items: center;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    gap: 8px;
    padding: 10px 8px;
}

.author-avatar {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.post-body {
    word-break: break-all;
}

.post-card {
    width: 100%;
    background-color: var(--secondary-color);
    margin: 20px auto;
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.post-title {
    font-weight: var(--font-weight-semibold);
    margin-top: 0;
    border-top: 1px solid grey;
    padding-top: 8px;
}

.post-tags,
.post-body,
.post-title,
.post-meta {
    padding-left: 10px;
}

.post-title,
.post-meta {
    color: var(--text-color);
}

.post-meta {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

i {
    color: var(--primary-color);
}

.fa-comment,
.fa-face-smile,
.fa-clock {
    margin-right: 5px;
}

.edit-button,
.delete-button {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 4px 8px;
    margin: 0px 2px 20px 10px;
    background-color: var(--color-white);
    cursor: pointer;
}

/*Single post*/
.comment-avatar {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

/* Button */
.comment-button,
.auth-button,
.logout-button,
.search-button,
.publish-button,
.create-post-button, 
.save-button {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-button);
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.comment-button,
.auth-button,
.logout-button {
    padding: 10px 12px;
}

.comment-button:hover,
.auth-button:hover,
.search-button:hover,
.publish-button:hover,
.create-post-button:hover, 
.save-button:hover {
    background-color: var(--hoover-color);
}

/* Error message */
.error-message {
    color: var(--error-color);
    font-size: var(--font-size-input);
}

/* Tablet and Desktop */
@media (min-width: 768px) {
    /* Header */
    .navbar-links {
        display: flex;
        gap: 20px;
        margin-left: auto;
        position: static;
        background: none;
        width: auto;
        text-align: left;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar {
        justify-content: flex-start;
        padding: 0 40px;
    }

    .auth-form {
        width: 500px;
    }

    /*Posts*/
    .post-card {
        width: 600px;
        padding: 40px 30px;
    }

    .post-image {
        width: 600px;
        height: 400px;
    }
}