:root {

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-label: 16px;
    --font-size-input: 14px;
    --font-size-button: 18px;

    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    

    --primary-color: #2563EB;
    --secondary-color: #e6e9ec;
    --color-white: #ffffff;
    --success-color: #059669;
    --error-color: #DC2626 ;
    --text-color: #111827;

    --hoover-color: #1D4ED8;
}

body {
    margin: 0;
}

/* Screen reader only */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Fonts */
h1, 
h2,
.navbar-option {
    font-family: var(--secondary-font);
}

p {
    font-family: var(--primary-font);
}

p {
    color: var(--text-color);
}

/* Header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    position: relative;
    padding: 0 20px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: var(--font-size-h3);
}

.navbar-option {
    color: var(--text-color);
}

.logo {
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    margin: 20px 0;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--hoover-color);
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .navbar-links {
    display: block;
}

.hamburger-menu {
    cursor: pointer;
    z-index: 20;
    font-size: var(--font-size-h3);
}

.navbar-links li {
    margin: 30px 0px;
}

/*Footer*/
footer {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-footer {
    color: var(--primary-color);
    margin: 20px 0;
}

/* Tablet and Desktop */
@media (min-width: 768px) {
    /* Header */
    .navbar-links {
        display: flex;
        gap: 20px;
        margin-left: auto;
        position: static;
        background: none;
        width: auto;
        text-align: left;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar {
        justify-content: flex-start;
        padding: 0 40px;
    }
}