/*Logout button*/
.top-bar {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}

.logout-button {
    padding: 6px 10px;
}

/*Profile*/
.profile-container {
    margin: 0 auto;;
}

.profile-banner {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.profile-user-row {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.profile-name {
    font-size: var(--font-size-h3);
}

.profile-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.profile-summary {
    display: flex;
    font-family: var(--primary-font);
    padding-bottom: 10px;
    gap: 8px;
    justify-content: space-evenly;
    
}

.follow-button {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-button);
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    
}


/* Tablet and Desktop */
@media (min-width: 768px) {
    .top-bar {
        margin: 8px 25px;
    }

    .profile-user-row {
        justify-content: center;
    }

    .profile-summary {
        justify-content: center;
    }

    .profile-banner {
        height: 80px;
    }
}